@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-sm;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.max-width{
    @apply mx-auto px-2 max-w-7xl w-full;
}

.center{
    @apply flex items-center justify-center;
}

.grid-container{
    @apply grid grid-cols-2 gap-2 sm:grid-cols-3 lg:grid-cols-4 lg:gap-4 xl:grid-cols-5 w-full;
}

.categories-grid{
    @apply flex flex-row gap-8 md:gap-16 flex-wrap w-fit;
}

.flex-row-center{
    @apply flex flex-row items-center;
}

.icons-wrapper{
    @apply border-0 rounded-full cursor-pointer center transition h-8 w-8;
}

.icons{
    height: 20px;
    width: 20px;
}

.button-primary{
    @apply bg-fancy-500 rounded-[4px] text-white flex flex-row items-center flex-shrink-0 gap-2 transition hover:bg-fancy-600 px-2 h-9 xs:h-11;
}

.button-outline{
    @apply border border-fancy-700 text-fancy-700 font-semibold rounded-[4px] flex flex-row items-center flex-shrink-0 gap-2 transition hover:bg-fancy-100 px-2 h-11;
}

.links{
    @apply border-r md:border-0 flex-row-center gap-1 transition hover:text-fancy-700 px-2 h-6 flex-shrink-0;
}

.nav-bar-buttons-container{
    @apply bg-white border-t border-grey-200 fixed flex flex-row items-center justify-between bottom-0 left-0 h-12 w-full md:border-0 md:relative md:flex md:flex-row md:items-center md:gap-4 md:w-fit z-10;
}

.nav-button{
    @apply border-r text-fancy-700 center transition hover:bg-fancy-100 h-full w-full md:border md:border-fancy-700 md:rounded-[4px] md:font-semibold md:flex md:flex-row md:gap-[2px] md:items-center md:px-2 md:h-11;
}

.input-primary-custom{
    @apply bg-white border border-grey-400 rounded-[4px] outline-none transition focus:border-fancy-700 focus:shadow-md pl-4 pr-8 h-11;
}

.footer-header{
    @apply text-lg font-bold;
}

.nav-link{
    @apply transition hover:text-fancy-700;
}

.dropdown-content{
    @apply p-0;
}

.swiper{
    position: relative;
    z-index: 0 !important;
}

.thumbs .swiper-slide {
    opacity: 0.25;
}

.thumbs .swiper-slide-thumb-active {
    opacity: 1;
}